body
{
    font-family: 'Exo 2', sans-serif;
    font-family: 'Merriweather', serif;
}
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}
.title
{
    padding-left: 50px;
    padding-top: 9px;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    background-color:#e17055 ;
    height: 40px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
}
.logo
{
    position: absolute;
    font-size: 10px;
    width: 100px;
    height: 70px;
}
.quote
{
    position: absolute;
    padding-left: 750px;
    height: 30px;
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
    color: white;
}
i.teamname
{
    font-size: 35px;
}
.content
{
    padding-top: 60px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #e17055;
    font-weight: bold;
    animation: content 2.5s forwards;
}
@keyframes content
{
    from{opacity: 0; transform: translateX(0px); }
    to{opacity: 1; transform: translateX(475px);}
}
.card-deck-wrapper
{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.img
{
    width: 220px;
    height: 280px;
    padding-bottom: 8px;
}
h4.card-text
{
    font-size: 12px;
    padding-top: 60x;
    padding-left: 13px;
    text-transform: uppercase;
}
.card-text a
{
    text-decoration: none;
    color: #e17055; 
}
p.position
{
    padding-left: 13px;
    font-size: 12px;
}



